<header>
    <h1>New snip</h1>
</header>

<div class="form-group" style="padding:5%; height:100%;background:#f5f5f0;">
    <%= simple_form_for ([@volt, @snip]) do |f| %>
        <%= f.input :name, :class => "form-control input-lg" %>
            <span class="help-block">Name your snip...</span>
        <div class="row">
            <div class="col-sm-12">



            <div id="editor"><% if @snip.code = '' %>Your code goes here...<% else %><%= @snip.code %><% end %></div>
            <p>
                If you can see this then the text editor is broken!<br/>
                If you can see this then the text editor is broken!<br/>
                If you can see this then the text editor is broken!<br/>
                If you can see this then the text editor is broken!<br/>
                If you can see this then the text editor is broken!<br/>
                If you can see this then the text editor is broken!<br/>
                If you can see this then the text editor is broken!<br/>
                If you can see this then the text editor is broken!<br/>
                If you can see this then the text editor is broken!<br/>
                If you can see this then the text editor is broken!<br/>
                If you can see this then the text editor is broken!<br/>
                If you can see this then the text editor is broken!<br/>
                If you can see this then the text editor is broken!<br/>
                If you can see this then the text editor is broken!<br/>
            </p>
            </br/>
            <span class="help-block">Your magnificent snip!</span>
        </div>
    </div>
    <%= f.input :language, :as => :select, :prompt => "choose a language", class: "form-control input-lg", collection: ["CSS","SASS/SCSS","python2","python3","java","JavaScript","HTML","SQL","BASH/Shell","PHP","Perl","C#" ,"C++", "C"] %>
        <div style="visibility:hidden; height:0px">
            <%= f.input :code, :as => :text, :input_html => { :cols => 50, :rows => 5 }, :readonly => true %>
        </div>

            <span class="help-block">Choose your language...</span>
        <%= f.input :description, :as => :text, :input_html => { :cols => 50, :rows => 5 }, :class => "form-control input-lg"  %>
            <span class="help-block">Describe what it does in detail</span>
        <%= f.input :summary,:as => :text, :input_html => { :cols => 50, :rows => 5 }, :class => "form-control input-lg"  %>
            <span class="help-block">Summarize the snip - if your over a tweet's length (144 characters) then use the description to give detail</span>
        <%= f.input :readme, :as => :text, :input_html => { :cols => 50, :rows => 5 }, :class => "form-control input-lg"  %>
            <span class="help-block">Detailed specs - e.g. dependencies, the stuff that you'll forget</span>
        <%= f.input :licence, :as => :select, :prompt => "choose a licence", :collection => ["Public (for all to see & reuse)",'Private - for yor yes only',"GPL - Gnu public licence","BSD","MIT"], :class => "form-control input-lg" %>
            <span class="help-block">Set the license</span>


    <div class="clearfix">
        <% unless @snip.id == ''|| 'new' %>
            <%= link_to [@volt, @snip], method: :delete, data: {confirm: "Delete me now, there is no turning back. OK?"}, :class => "pull-left btn btn-danger btn-lg" do %>
                <i class="glyphicon glyphicon-trash"></i> Delete snip?
            <% end %>
        <% end %>
        <a href="javascript:history.go(-1)" alt="cancel" class="pull-left btn btn-warning btn-lg">
            <i class="glyphicon glyphicon-menu-left"></i> Cancel
        </a>

        <%= f.button :button, class: "pull-right btn btn-lg btn-success btn-raised" do %>
        <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Make snip?
        <% end %>


            <% if @snip.errors.any? %>
            <div id="error_explanation alert alert-warning pull-left">
                <h2> <%= pluralize(@snip.errors.count, "error") %>
                    Snip not made because:
                </h2>
                <ul>
                    <% @snip.errors.full_messages.each do |msg| %>
                    <li>
                        <%= msg %>
                    </li>
                    <% end %>
                </ul>
            </div>
        <% end %>



            <% end %>
        </div>

    </div>
    <script src="http://d1n0x3qji82z53.cloudfront.net/src-min-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
    <script>
        var editor = ace.edit("editor");
        editor.on("blur", function() {document.querySelector('#snip_code').value = editor.getValue();});

        editor.setTheme("ace/theme/monokai");
        editor.getSession().setMode("ace/mode/css");
        document.getElementById('editor').style.fontSize='16px';
        document.getElementById('codebox').innerHTML = ace.edit('editor').getValue(); document.getElementById('thisForm').submit();

    </script>
</div>
</div>
