<div class="form-group input form-group-lg">
    <%= simple_form_for(volt) do |f| %>
<div class="container">
    <% if volt.errors.any? %>
<div id="error_explanation" class="alert alert-warning pull-left">
        <h2> <%= pluralize(volt.errors.count, "error") %>
            volt not made because:
        </h2>

        <ul>
            <% volt.errors.full_messages.each do |msg| %>
            <li>
                <%= msg %>
            </li>
            <% end %>
        </ul>
    </div>
<% end %>
</div>

    <div class="row">

            <%= f.input :name, :class => "form-control input-lg" %>
            <span class="help-block">Name your volt...</span>

    </div>
    <div class="row">

            <%= f.input :project_name, :class => "form-control input-lg" %>
            <span class="help-block">Name of your project...</span>

    </div>
    <div class="row">
        <%= f.input :default_licence, :as => :select, :prompt => "choose a licence", :collection => ["Public (for all to see & reuse)",'Private - for yor yes only',"GPL - Gnu public licence","BSD","MIT"], :class => "form-control input-lg" %>

            <span class="help-block">Set the license for all snips contained in this volt</span>
        </div>
        <div class="clearfix">
            <a href="javascript:history.go(-1)" alt="cancel" class="pull-left btn btn-warning btn-lg">
                <i class="glyphicon glyphicon-menu-left"></i> Cancel
            </a>
            <%= f.button :button, class: "pull-right btn btn-lg btn-success btn-raised" do %>
            <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Make volt?
            <% end %>
        </div>
    </div>

    <div class="footer">
        <div class="col-sm-12">

            <% end %>
        </div>

    </div>
    <script src="http://d1n0x3qji82z53.cloudfront.net/src-min-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>

</div>
<br/>
