<br/>
<% title(@volt.name, "snipVolt") %>
<div class="clearfix">

<%= link_to volt_path(@volt), method: :delete, data: {confirm: "Delete me now, there is no turning back. OK?"}, :class => "pull-left btn btn-danger btn-lg" do %>
    <i class="material-icons">delete</i> Delete volt?
<% end %>

</div>

<header>
    <h1><%= @volt.name %><small> - <%= @volt.project_name %></small></h1>
</header>
<table id="attributes">
    <tr>
        <th>Licence</th>
    <td><%= @volt.default_licence %></td>
    </tr>
    <tr>
        <th>Author</th>
    <td><%= @volt.author.try(:email) %></td>
    </tr>
    <tr>
        <th>Created</th>
    <td><%= time_ago_in_words(@volt.created_at) %></td>
    </tr>
</table>
<div class="clearfix">
    <div class="btn-group pull-right">
<%= link_to edit_volt_path(@volt), :class => "btn btn-lg btn-info" do %>
    <i class="material-icons">update</i> Update volt?
<% end %>
<%= link_to new_volt_snip_path(@volt), :class => "btn btn-lg btn-success" do %>
    <i class="material-icons">content_cut</i> Add snip?
<% end %>
    </div>
</div>

<br/>

</br/>
<div id="volt" class="container-fluid">

        <% if @volt.snips.length <= 0 %>
            <div class="jumbotron">

                <p>
                    This volt is empty...
                    <span class="badge"><%= @volt.snips.length%></span>
                </p>
            </div>
        <% else %>
        <div class="jumbotron">
            <table id="snipodex">
                <p>Snips in this volt <span class="badge"><%= @volt.snips.length%></span></p>
                <% @volt.snips.each do |snip| %>
                <tr>
                    <th>
                        <%= link_to snip.name,[ @volt, snip] %>
                    </th>
                    <td>
                        <span>
                            <%= snip.summary %>
                        </span>
                    </td>
                    <td>
                        <a data-toggle="collapse" href="<%= '#expando' + @volt.id.to_s + snip.id.to_s %>">code <span class="big-caret"></span></a>
                    </td>
                </tr>
                <tr id="<%= 'expando' + @volt.id.to_s + snip.id.to_s %>" class="collapse">
                    <td>
                                    <pre><%= snip.code %></pre>

                    </td>
                </tr>
                <% end %>
            </table>
            <% end %>
        </div>


    <!-- <%# end %> -->
</div>
