    <!DOCTYPE html>
<html>
<head>
    <title>
    <% if content_for?(:title) %>
            <%= yield(:title) %>
        <% else %>
            snipVolt
        <% end %>
    </title>


  <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Material Design fonts -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<%= favicon_link_tag '/favicon48.png' %>
  <!-- Bootstrap -->
  <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <!-- Bootstrap Material Design -->

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/ace/1.1.01/ace.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>





    <div id="container">
<div class="container">
        <% flash.each do |key, message| %>
            <div class="alert alert-<%= key %>">
                <%= message %>
        <% end %>
    </div>

<nav class="navbar  navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse">
                 <span class="sr-only">Toggle navigation</span>
                 <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse"  id="collapse">
            <ul class="nav navbar-nav">
            <li><%= link_to '/' do %>
            <i class="material-icons">home</i> Home
            <% end %></li>
            <!-- <li>
            <%#= link_to new_snip_path do %>
            <i class="glyphicon glyphicon-scissors"></i> New snip?
            <%# end %></li> -->
            <li><%= link_to new_volt_path do %>
            <i class="material-icons">flash_on</i> New volt?
            <% end %></li>
        <% unless user_signed_in? %>
            <li class="<%= '' if current_page?('/users/sign_up') %>">
                <%= link_to new_user_registration_path do %>
            <i class="material-icons">perm_identity</i> Sign up?
            <% end %></li>
            <li class="<%= '' if current_page?('/users/sign_up') %>">
                <%= link_to new_user_session_path do %>
            <i class="material-icons">person</i> Log in?
            <% end %></li>
        <% end %>
         </ul>

            <% if user_signed_in? %>




                     <div class="navbar-right">
                    <ul class="nav navbar-nav">
                        <li>
                            <% if current_user.try(:admin?) %>
                                <%= link_to admin_root_path do %>
                                    <span><i class="material-icons">account_box</i> <%= current_user.email %></span>
                                <% end %>
                                <li>
                                    <%= link_to  destroy_user_session_path,method: :delete do %>
                                <i class="material-icons">directions_run</i> Sign out?
                                    <% end %>
                                </li>
                            <% else %>
                             <%= link_to  destroy_user_session_path,method: :delete do %>
                             <span> <i class="material-icons">account_box</i> <%= current_user.email %></span> <i class="material-icons">directions_run</i> Sign out?
                             <% end %>
                            <% end %>
                        </li>
                    </ul>
            <% end %>

                <div class="pull-right">
                    <a id="logo" href="/"><span class="text-hide">snipVolt</span><%= image_tag("SVOptimised.svg", :alt => "snipVolt logo") %></a>
                </div>

             </div>
         </div>
     </div>
</nav>
<br/>
<br/>
<div class="container  main-cont">
<div class="body_wrapper">
</div>



<%= yield %>




</div>
<div class="body_wrapper">
</div>



</div>
<script>
    $.material.init();
    $.material.ripples();
</script>
<!-- <footer class="footer">
       <p class="text-muted">Place sticky footer content here.</p>
       <div id="container">
     </div>
   </footer> -->
</div>
   <div id="footer">
   <div class="navbar navbar-inverse">


       <div class="pull-right">
           <a id="logo" href="/"><span class="text-hide">snipVolt</span><%= image_tag("SVsans.svg", :alt => "snipVolt logo") %></a>
       </div>
       <div class="pull-left">
           <a id="logo" href="/"><span class="text-hide">snipVolt</span><%= image_tag("SVsansRight.svg", :alt => "snipVolt logo") %></a>
       </div>
   </div>
</div>
</div>

</body>
</html>
